GOOGLE_SHEET_ID=1NxMK1jb6DBw45ttqAplRSq2IJcQzUFIEMPKdfN2tHb4
GOOGLE_STOCK_SHEET_NAME=JUBILANT STOCK APRIL 26
GOOGLE_LOG_SHEET_NAME=Entry Log
GOOGLE_SERVICE_ACCOUNT_EMAIL=yash-inventory-service@yash-inventory-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY_ID=0513d517b5dc839df911867927710c5a040893c2
GOOGLE_SERVICE_ACCOUNT_FILE=service-account.json
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
